<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <input type="hidden" class="form-control" formControlName="id" />
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="">Quantity</label>
    <input type="number" class="form-control" formControlName="quantity" />
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="number" step="any" class="form-control" formControlName="price" />
  </div>

  <div>
    <a routerLink="products" class="btn btn-secondary">Cancel</a>&nbsp;
    <input type="submit" class="btn btn-primary" value="OK" />
  </div>
</form>
